html { /* parameters for the entire page. */
    width: 1024px;
    height: 768px;
    background-color: lightyellow;
    color: #210000;
    font-family: 'Georgia';
    font-size: 1.2rem;
    margin: -10px;
    overflow-x: hidden;
    text-shadow: #ff9966 1px 0 1px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} /*fade in animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        }
  } /* the selection colors when you leftclick and drag, moz: is so it works on firefox browsers. */
  ::selection {
    background: #ff9966;
    color:#190d07;
  }
  ::-moz-selection {
    background: #ff9967;
    color: #190d07;
  }
  a:link { /*link colors. */
    color: rgb(23, 13, 67);
    background-color: transparent;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    padding:2px;
  }
  a:visited {
    color: rgb(45, 19, 0);
    background-color: transparent;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
  }
  
  a:hover {
    color: rgb(44, 22, 240);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(18, 18, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  h1 { /* headers. */
  background: rgb(72,0,0);
  background: linear-gradient(180deg, rgba(72,0,0,1) 0%, rgba(33,0,0,1) 100%);
  color: #f6e9da; 
  }
  mark { /* highlights. */
    color:#190d07;
    background-color: #8b0909;
  }
  .scroll { /* This makes a scrollbar. */
    margin:4px, 4px;
    padding:4px;
    width: 500px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color:  #8b0909 #190d07;
  } /* the left main section. css gradients.com will get you easy to make gradients. */
  .left {
  width: 600px;
  height: 100%;
  position: fixed;
  border: 40px outset #210000;
  border-right: 3px outset #210000;
  border-radius:5px;
  border-top: 0;
  margin-top: 0;
  background: rgb(255,254,245);
  background: linear-gradient(180deg, rgba(255,254,245,1) 0%, rgba(255,253,235,1) 29%, rgba(255,224,208,1) 100%);background: rgb(255,250,207);
  background: linear-gradient(180deg, rgba(255,250,207,1) 0%, rgb(247, 226, 157) 29%, rgba(233,161,125,1) 100%);
  background-clip:padding-box;
  padding:10px;
  } /* keeps all the icons and text aligned properly. */
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
  }
  .circle { /* the little circle icons around each image. */
    border-radius: 360px;
    border:#210000 3px solid;
    width: 120px;
    height: 120px;
  } 
  .intro1 {
    display:none;
    position: relative;
  }
  #intros {
    display:none;
    position: relative;
    left: 580px;
    width: 400px;
    height: 540px;
    padding: 0.5rem;
    border: 3px inset #210000;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    background: rgb(255,254,245);
    background: linear-gradient(180deg, rgba(255,254,245,1) 0%, rgba(255,251,215,1) 29%, rgba(255,224,208,1) 100%);
    background-clip:padding-box;
    padding-top: 0px;
    z-index: 2;
  }
  .footer { /* footer at the end of each intro. */
    width: 390px;
    background: rgb(72,0,0);
    background: linear-gradient(180deg, rgba(72,0,0,1) 0%, rgba(33,0,0,1) 100%);
    color: #f6e9da; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    left: 13px;
    bottom: 10px;
  }
  .butt { /* the button styling. */
    width: 150px;
    height: 50px;
    background: rgb(255,182,149);
    background: linear-gradient(180deg, rgba(255,182,149,1) 0%, rgba(212,89,91,1) 100%);
    border: 2px #210000 outset;
    border-radius: 10px;
    color:#190d07;
    font-family: 'Georgia';
    padding: 5px;
  }
  .butt:hover { /* hover effect of button. */
    background: rgb(243, 130, 141);
    background: linear-gradient(180deg, rgba(243,130,141,1) 0%, rgb(182, 74, 115) 100%);
  }
  .here { /* button youre on */
  width: 150px;
  height: 50px;
  background: rgb(147, 27, 27);
  background: linear-gradient(180deg, rgba(147,27,27,1) 0%, rgb(99, 15, 75) 100%);
  border: 2px #210000 outset;
  border-radius: 10px;
  color:#f6e9da;
  font-family: 'Georgia';
  padding: 5px;
  }
  .here:hover { /* button youre on */
    background: rgb(115, 19, 72);
    background: linear-gradient(180deg, rgba(155,19,72,1) 0%, rgb(83, 9, 64) 100%);
  } /* the navigation section at the bottom right. */
  .nav { /* navigation bar. */
    width: 750px;
    height: 60px;
    margin: 10px;
    padding: 10px;
    border-end-end-radius: 50px;
    border-start-start-radius: 50px;
    border-top: 0px;
    background: rgb(72,0,0);
    background: linear-gradient(180deg, rgba(72,0,0,1) 0%, rgba(33,0,0,1) 100%);
    position:absolute;
    left: 680px;
    bottom: 40px;
    margin: auto 0;
  }
  .logo { /* the logo */
    position:absolute;
    left: 670px;
    top: 10px;
  }
